<div class="pane" id="pane-p2">
    <h3>Home</h3>
    <p><a  data-toggle="modal" ng-click="showPopup()">Show popup</a></p>
    <div class="two-col">
        <div class="category-box category1 animated flipInX">
            <h4>Category 1</h4>
            <i class="fa fa-certificate fa-2x"></i>
        </div>
        <div class="category-box category5 animated flipInX">
            <h4>Category 2</h4>
            <i class="fa fa-certificate fa-2x"></i>
        </div>
    </div>
    <div class="two-col">
        <div class="category-box category3 animated flipInX">
            <h4>Category 3</h4>
            <i class="fa fa-certificate fa-2x"></i>

        </div>
        <div class="category-box category4 animated flipInX">
            <h4>Category 4</h4>
            <i class="fa fa-certificate fa-2x"></i>

        </div>
    </div>

</div>