<div class="pane" id="pane-p1">
    <h3>Newsfeed</h3>


    <!-- STATIC EXAMPLES, please remove and replace with ng-repeat block -->
    <div class="event-wrapper animated slideInLeft">
        <span class="large event" id="event1">
            <i class="fa fa-check"></i><!--select appropriate icons from http://fontawesome.io/icons/ for the type of event-->
        </span><span class="event-label">Event details</span>
    </div>
    <div class="event-wrapper animated slideInLeft">

        <span class="large event" id="event2">
            <i class="fa fa-trophy"></i>
        </span>
        <span class="event-label">Event details</span>
    </div>
    <div class="event-wrapper animated slideInLeft">
        <span class="large event" id="event3">
            <i class="fa fa-certificate"></i>
        </span>
        <span class="event-label">Event details</span>
    </div>
    <div class="event-wrapper animated slideInLeft">
        <span class="large event" id="event3">
            <i class="fa fa-bank"></i>
        </span>
        <span class="event-label">Event details</span>
    </div>
    <!-- end of STATIC EXAMPLES -->
</div>