<div class="pane" id="pane-p6">
    <h3>Profile</h3>
    <div class="animated slideInLeft">
        <div class="two-col">
            <div class="profile-box">
                <img src="images/placeholder_person.png" alt="Photo" />
            </div>
            <div class="profile-box category1">
                Amelia Mary Earhart<br />
                Occupation: Aviator<br />
                Born 24 July 1897<br />
                Awards: DFC (USA)
            </div>
        </div>
    </div>
    <div class="two-col animated slideInLeft">
        <p>American aviation pioneer and author. Earhart was the first female aviator to fly solo across the Atlantic Ocean. She received the U.S. Distinguished Flying Cross for this record. She set many other records, wrote best-selling books about her flying experiences and was instrumental in the formation of The Ninety-Nines, an organization for female pilots. In 1935 Earhart became a visiting faculty member at Purdue University as an advisor to aeronautical engineering and a career counselor to women students. She was also a member of the National Woman's Party and an early supporter of the Equal Rights Amendment.</p>
    </div>
</div>