<div class="pane" id="pane-p4">
    <h3>Sections</h3>
    <h4 class="sectionheading category1 open" id="section1" ng-click="section1Toggle()">Section 1</h4>
    <div class="toggle-content" ng-show="section1open" id="toggle1">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </div>
    <h4 class="sectionheading category5 open" id="section2" ng-click="section2Toggle()">Section 2</h4>
    <div class="toggle-content" ng-show="section2open" id="toggle2">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </div>

    <h4 class="sectionheading category3 open" id="section3" ng-click="section3Toggle()">Section 3</h4>
    <div class="toggle-content" ng-show="section3open" id="toggle3">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </div>

    <h4 class="sectionheading category4 open" id="section4" ng-click="section4Toggle()">Section 4</h4>
    <div class="toggle-content" ng-show="section4open" id="toggle4">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
        id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    </div>
</div>