<div class="pane" id="pane-p2">
    <h3>Settings</h3>
    <p><a href="/login" id="btn_logout" class="category1 button large" ng-click="logout()"><i class="fa fa-sign-out"></i>Log out</a><!-- log out --><br /></p>
    <h4>Colour scheme</h4>
    <button ng-click="changeStyle('colors.css')" id="pink" class="cta button large">Brookes Pink</button><br />
    <button ng-click="changeStyle('colors-lime.css')" id="lime" class="button large category4">Brookes Lime</button><br />
    <button ng-click="changeStyle('colors-muted.css')" id="muted" class="button large category7">Muted colours</button><br />
    <button ng-click="changeStyle('colors-dark.css')" id="dark" class="button large category8">Dark colours</button>
</div>